[Unit]
Description=An NPO Streams listener

[Service]
Environment=
WorkingDirectory=/path/to/npo-streams
ExecStart=/usr/local/bin/pipenv run /path/to/npo-streams/npo-streams.py
Restart=always

[Install]
WantedBy=multi-user.target