[Unit]
Description=An NPO Streaming proxy for Emby and Plex media servers

[Service]
user=<username>
WorkingDirectory=/path/to/NPO-streams
ExecStart=/usr/local/bin/pipenv run /path/to/NPO-streams/npo-streams.py
Restart=always

[Install]
WantedBy=multi-user.target